* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.slidecontainer {
    position: absolute;
    width: 35%;
    top: 7%;
    left: 50%;
    z-index: 5;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.8rem;
    background: linear-gradient(to left, greenyellow, rgb(174, 232, 255));
    border: #505050 solid 0.1rem;
    border-radius: 1rem;
    opacity: 1;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: #cfebc7;
    cursor: pointer;
    opacity: 1;
    filter: drop-shadow(1px 1px .5rem #00000098);
    /* background-image: url("./assets/slider-thumb.png");
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}


/* #canv{
    width: 100%;
    height: 100%;
    display: block;
    z-index: 200;
} */

/* #labels{
    position: absolute;  
    left: 0;  
    top: 0;
    color: white;
    background-color: grey;
  } */

#normalToggle {
    position: absolute;
    width: 12%;
    height: 12%;
    bottom: 60%;
    left: 3%;
    accent-color: greenyellow;
    padding: 0.3rem;
    border-radius: 0.3rem;
    z-index: 5;

}

#planeToggle {
    position: absolute;
    width: 12%;
    height: 12%;
    bottom: 80%;
    left: 3%;
    accent-color: greenyellow;
    padding: 0.3rem;
    border-radius: 0.3rem;
    z-index: 5;

}

#labelplaneid {
    position: absolute;
    left: 13%;
    top: 8%;
    color: #c8c8c8;
    font-size: 2.5rem;
}

#labelnormalid {
    position: absolute;
    left: 13%;
    top: 27%;
    color: #c8c8c8;
    font-size: 2.5rem;
}

#anglelabelid {
    position: absolute;
    right: 52%;
    top: 5%;
    color: #c8c8c8;
    font-size: 2.5rem;
}

.tutorialPopup {
    position: absolute;
    top: 50%;
    width: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vh;
    background: linear-gradient(to left, greenyellow, rgb(174, 232, 255));
    color: rgb(85, 115, 85);
    padding: 5vh 6vh;
    z-index: 10;
    text-align: center;
    border-radius: 2vh;
    box-shadow: inset 7px 6px 32px rgba(255, 255, 255, 0.31), inset -5px -5px 4px rgba(9, 9, 9, 0.13);
    font-weight: 700;
    display: none;
}

.nextClass {
    position: absolute;
    top: 5%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
    font-size: 11vh;
    background-color: rgb(66, 186, 197);
    color: #215148e0;
    padding: 1vh 5vh;
    z-index: 11;
    text-align: center;
    border-radius: 2vh;
    box-shadow: inset 7px 6px 32px rgba(255, 255, 255, 0.31), inset -5px -5px 4px rgba(9, 9, 9, 0.13);
    font-weight: 900;
    display: none;
}

.nextClass:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.questionContainer {
    position: absolute;
    top: 50%;
    width: 60%;
    height: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vh;
    background: linear-gradient(to left, greenyellow, rgb(174, 232, 255));
    color: rgb(85, 115, 85);
    padding: 5vh 6vh;
    z-index: 10;
    text-align: center;
    border-radius: 2vh;
    box-shadow: inset 7px 6px 32px rgba(255, 255, 255, 0.31), inset -5px -5px 4px rgba(9, 9, 9, 0.13);
    font-weight: 700;
    display: none;
}

.optionsText {
    position: relative;
    left: 50%;
    width: 40%;
    transform: translateX(-50%);
    font-size: 7vh;
    background: linear-gradient(to left, greenyellow, rgb(174, 232, 255));
    color: #215148e0;
    padding: 1vh 5vh;
    z-index: 10;
    text-align: center;
    border-radius: 2vh;
    box-shadow: inset 7px 6px 32px rgba(255, 255, 255, 0.31), inset -5px -5px 4px rgba(9, 9, 9, 0.13);
    font-weight: 900;
}

.optionsText:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

#pointerPng {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

#pointerPng {
    animation: shakeDrag 4s linear infinite;
    display: none;
}

/* .classOscillation {} */

/* .classOscillationDelayed{
    animation: grow 2s ease-in-out infinite;
    animation-delay: 0.6s;
} */
@keyframes shakeDrag {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(100%, 0%);
    }

    37.5% {
        transform: translate(50%, 0%);
    }

    50% {
        transform: translate(50%, 50%);
    }

    75% {
        transform: translate(50%, -50%);
    }

    87.5% {
        transform: translate(50%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }

}

.closeButtonModal {
    text-align: right;
    color: #50505092;
}

.closeButtonModal:hover {
    cursor: pointer;
}